{:source-paths
         ["src/main"
          "src/gen"]

 :nrepl  {:port 8450}

 :dependencies
         []

 :builds {:app
          {:target     :browser
           :modules    {:base {:entries [demo.app]}}

           :output-dir "public/js/compiled"
           :asset-path "/js/compiled"

           :devtools   {:http-root    "public"
                        :http-handler shadow.http.push-state/handle
                        :http-port    8280
                        :after-load   demo.app/mount-root}}}}